html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid purple;
  width: 320px;
  height: 300px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.square {
  height: 90px;
  width: 90px;
  font-size: 60px;
  cursor: pointer;
  padding: 0px;
}

.win-message {
  font-size: 30px;
  margin-bottom: 15px;
}

.control-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-button {
  width: 250px;
  height: 50px;
  font-size: 40px;
  background: #3b4fd9;
  color: whitesmoke;
  font-family: "Luccida Console", "Courier New", Courier, monospace;
  cursor: pointer;
}
.reset-button:hover {
  background: whitesmoke;
  color: #3b4fd9;
}
